<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Place to jot down your fantastic ideas.</p>
  <a href="/ideas/add" class="btn bg-info text-light btn-lg">Add Ideas</a>
</div>
<footer>
<p class="text-center">Copyright &copy; <script> document.write(new Date().getFullYear());</script> </p>
<p class="text-center">Created by: Noi Sinnang</p>
</footer>

